@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;

    border-color: #ebebeb;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  *:focus {
    outline: none;
  }

  body {
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  p {
    color: #000;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  small {
    color: #999;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .footnote {
    display: inline-block;

    font-weight: 500;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: 0.14em;

    transform-origin: inline top;
    transform: translate(0.05em, -0.2em) scale(0.65);
    cursor: pointer;
  }
}
